@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import 'todo/todo';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    body {
        height: 100vh;
        width: 100%;
        background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
    }
}
