* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C1C1C;
    color: #FFFFFF;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #1C1C1C;
        color: #FFFFFF;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background: #FFFFFF;
        color: #1C1C1C;
    }
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fade-in 1.5s forwards ease;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .minute, .second {
    font-size: 3rem;
}


.waiting {
    height: 50vh;
}





/* Responsive */

@media screen and (max-width: 500px) {

    h2 {
        font-size: 2rem;
    }
    .day, .hour, .minute, .second {
        font-size: 1.5rem;
    }
    .waiting {
        width: 100vw;
        height: 30vh;
    }
}



@media screen and (max-width: 1024px) {
    h2 {
        font-size: 2.5rem;
    }
    .day, .hour, .minute, .second {
        font-size: 2rem;
    }
    .waiting {
        width: 100vw;
        height: 40vh;
    }
}