.wrapper .footer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
    button {
        border: none;
        outline: none;
        background: #8E49E8;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 5px;
        padding: 6px 10px;
        opacity: 0.6;
    
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }   
}