@import 'header';
@import 'footer';
@import 'todoForm';

.wrapper {
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}


.wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;
    li {
        list-style: none;
        height: 45px;
        line-height: 45px;
        position: relative;
        background: #f2f2f2;
        border-radius: 3px;
        margin-bottom: 8px;
        padding-left: 15px;
        cursor: default;
        overflow: hidden;
        span {
            position: absolute;
            right: -45px;
            color: #fff;
            width: 45px;
            text-align: center;
            background: #E74C3C;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        &:hover span {
            right: 0px;
        }
    }
}