// .wrapper button.active {
//     opacity: 1;
// }

.wrapper {
    .inputField {
        display: flex;
        height: 45px;
        width: 100%;
        margin: 20px 0;
        input {
            width: 85%;
            height: 100%;
            outline: none;
            border: 1px solid #ccc;
            font-size: 17px;
            border-radius: 3px;
            padding-left: 15px;
        
        }
        button {
            width: 60px;
            height: 100%;
            border: none;
            outline: none;
            background: #8E49E8;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            border-radius: 3px;
            margin-left: 5px;
            opacity: 0.6;
            pointer-events: none;
            &.active { 
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

